.container {
	background-color: rgb(30, 30, 30);

	justify-content: center;
	text-align: center;
	font-size: 120%;

	width: 80%;
	margin: auto;
	margin-top: 20vh;
	padding: 4%;
}

.btn {
	font-size: 110%;

	padding: 3% 12% 3% 12%;
	margin: 2%;
}

.correctAnswer {
	background-color: limegreen;
}

.wrongAnswer {
	background-color: red;
}

.nextBtn {
	background-color: cyan;
	font-size: 110%;

	padding: 2% 8% 2% 8%;
	margin: 2%;
}
